.top {
    width: 100%;
}

.header {
    font-family: sans-serif;
    text-align: center;
    height: 50px;
    padding: 10px;
    padding-bottom: 10px;
}

h2 {
    margin-top: 10px;
}

.nav {
    margin: 20px;
    font-size: 14;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.nav a:hover {
    font-size: 18;
}

.bottom {
    margin-left: 90px;
    padding: 30px;
}

.homecontent, .aboutcontent {
    padding: 60px;
}

.middle {
    height: 80%;
    background-image: url('shoppingcart.jpg')
}

.login, .registrationform{
    text-align: center;
    padding-top: 20px;
}


input[type=text], input[type=password]{
    width: 250px;
    margin-bottom: 10px;
}


li {
   list-style: none;
   margin-top: 10px;
}

button {
    margin-right: 10px;
    margin-left: 10px;
}

img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
}

.listcontainer {
    display: flex;
}

.itemlist, .listimage {
    width: 50%
}

.itemlist{
    text-align: center;
}

#listimage {
    justify-content: center;
    padding-top: 125;
}